h4 {
    font-family: Inter;
}

input {
    font-family: Inter;
}

h3 {
    font-family: Inter;
}

h2 {
    font-family: Inter;
}

h1 {
    font-family: Inter;
}

p {
    font-family: Inter;
}

label {
    font-family: Inter;
}

a {
    font-family: Inter;
}

button {
    font-family: Inter;
}