h2 {
    font-family: monospace !important;
}

.stats-card {
    display: block;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #e4e6ada8;
    box-shadow: -9px 8px 8px #e4e6ada8;
    border-radius: 20px;
    padding: 15px;
}

.timesheet-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.export-csv-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; /* Add some space between elements */
}

.date-inputs {
    display: flex;
    align-items: center;
    margin-right: 15px;
    border-radius: 5px;
}

.date-inputs label {
    margin-right: 5px;
    margin-left: 5px;
}

.date-inputs input {
    height: 30px; /* Adjust the height of the input boxes */
    padding: 5px; /* Adjust padding for better appearance */
    font-size: 14px; /* Adjust font size */
    border-radius: 5px;
}

.export-csv-section .btn {
    height: 30px; /* Adjust the height of the button */
    padding: 5px 10px; /* Adjust padding for better appearance */
    font-size: 14px; /* Adjust font size */
    white-space: nowrap; /* Prevent text wrapping */
}

.action-buttons {
    display: flex;
}

.action-buttons .btn {
    margin-left: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

@media (max-width: 768px) {
    .export-csv-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-inputs {
        margin-bottom: 10px;
    }

    .action-buttons {
        width: 100%;
        justify-content: space-between;
    }

    .action-buttons .btn {
        margin-left: 0;
    }
}