<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "Dashboard" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>10</h3>
              <p>Hours Worked Today</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar-day"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>80</h3>
              <p>Hours This Week</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar-week"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>1000</h3>
              <p>Hours Worked This Month</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>49000</h3>
              <p>Hours Worked This Year</p>
            </div>
            <div class="icon">
              <i class="fas fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="display: flex; justify-content: center; align-items: center; height: 400px;">
            <canvas #barChart></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
