<form
  class="form-horizontal"
  autocomplete="off"
  #createTimeSheetForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewTimeSheet' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <!-- Date Recording Input -->
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="dateRecording">
            {{ "DateRecording" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="date"
              class="form-control"
              name="dateRecording"
              id="dateRecording"
              required
              [(ngModel)]="timeSheet.dateRecording"
              [max]="currentDate"
              #dateRecordingModel="ngModel"
              #dateRecordingEl
            />
            <abp-validation-summary
              [control]="dateRecordingModel"
              [controlEl]="dateRecordingEl"
            ></abp-validation-summary>
          </div>
        </div>
        <!-- Number of Hours Input -->
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="numberOfHours">
            {{ "NumberOfHours" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="number"
              class="form-control"
              name="numberOfHours"
              id="numberOfHours"
              required
              min="1"
              step="0.1"
              [(ngModel)]="timeSheet.timelog"
              #numberOfHoursModel="ngModel"
              #numberOfHoursEl
            />
            <abp-validation-summary
              [control]="numberOfHoursModel"
              [controlEl]="numberOfHoursEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createTimeSheetForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
